{% extends "base.html.twig" %}

{% block navbarLi %}
    <li class="nav-item">
        <a class="nav-link" href="{{path('fiche_acceuil')}}" > FICHES DECHARGES </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('factures_action')}}" > FACTURES </a>
    </li>
{% endblock %}

{% block body %}

{% endblock %}